@use "src/Styling/index" as *;

.buttonWrap {
  display: flex;
  gap: 32px;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $dark-blue;

    svg {
      width: 32px;
      height: 32px;
    }

    &:hover {
      color: $orange-color;
    }
  }
}
