@import "src/Styling/index";

@keyframes jumpBtn {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}

.btn {
  text-transform: uppercase;
  cursor: pointer;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-size: 14px;
  border: none;
  transition: all 0.3s ease;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 60px;

  &.blue {
    background-color: $main-color-light-blue;
    color: $white;

    &:hover {
      color: $light-blue;
      background-color: $white;
      border: none;
      transition: all 0.3s ease;
    }
  }

  &.white {
    background-color: $white;
    color: $main-color-dark-gray;

    &:hover {
      background-color: $main-color-light-blue;
      color: $white;
      border: none;
      transition: all 0.3s ease;
    }
  }

  &.orange {
    background-color: #ff9800;
    color: $white;

    &:hover {
      background-color: $white;
      color: #ff9800;
      border: none;
      transition: all 0.3s ease;
    }
  }

  &.standardWide {
    width: 180px;
  }

  &.maxWidth {
    width: 280px;
    padding: 12px;
    max-width: 280px;

    @include breakpoint("375px") {
      width: 300px;
      max-width: 300px;
    }
  }

  &.standardHeight {
    height: 52px;
  }

  &.noBorderRadius {
    border-radius: 2px;
  }
}
