@import "src/Styling/index";

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .title {
    margin-right: 0;
    color: $dark-blue;
  }

  @include breakpoint("tablet") {
    align-items: center;

    .description {
      text-align: center;
      max-width: 1200px;
    }
  }
}
