@import "src/Styling/index";

.swiperContainer {
  .imageWrap {
    position: relative;
    width: 100%;
    height: calc(100vw * 1.359);

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include breakpoint("375px") {
      height: calc(100vw * 1.381);
    }

    @include breakpoint("480px") {
      height: calc(100vw * 1.156);
    }

    @include breakpoint("tablet") {
      height: calc(100vw / 1.386);
    }

    @include breakpoint("desktopSmall") {
      height: 200px;
    }
  }

  :global {
    z-index: 0 !important;
    .swiper-button-next,
    .swiper-button-prev {
      --swiper-theme-color: $black;
      --swiper-navigation-size: 15px;
      background-color: $white;
      width: 60px;
      height: 60px;
      cursor: pointer;
      transition: all 0.3s;
      top: 45%;

      &:hover {
        background: rgba(255, 255, 255, 0.75);
      }
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-pagination {
      color: $white;
      font-size: 14px;
      padding: 10px;
    }

    .swiper-pagination-bullet {
      background-color: #e5e5e5;
      width: 13px;
      height: 13px;

      &:hover {
        background-color: $white;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: $white;
    }
  }
}
