@import "src/Styling/index";

.cardWrap {
  background-color: $white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 30px 44px;

  .title {
    color: #2f327d;
    font-size: $h3-mobile-size;
    line-height: $h3-mobile-size + $h-mobile-line-height-add;
    @include breakpoint("desktop") {
      font-size: $h3-desktop-size;
      line-height: $h3-desktop-size + $h-desktop-line-height-add;
    }
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }

  .description {
    color: $black;
    font-size: 16px;
    line-height: 23px;

    @include breakpoint("desktop") {
      font-size: 18px;
      line-height: 26px;
    }
    text-align: center;
  }

  .icon {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    svg {
      font-size: 48px;
      color: $white;
    }
  }

  @include breakpoint("tablet") {
    border-radius: 32px;

    .title {
    }
  }
}
