@import "src/Styling/index";

.cardsWrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 60px;
}

.backgroundWorkDescription {
  background-color: rgba(#9dccff, 0.2);
}

.thirdPart {
  padding: 60px 15px;
}
