$main-color-light-blue: #49bbbd;
$light-blue: #00cbb8;
$dark-blue: #2f3c7e;
$navy-blue-color: #1d2951;
$dark-purple-color: #5b72ee;
$blue-500: #3b82f6;

$orange-color: #f48c06;
$yellow-color: #ffd700;
$peach-color: #ffcba4;

$gray-color: #5b5b5b;
$light-gray-color: #d3d3d3;

$green-color: #33efa0;
$footer-color: #252641;

$purple-color: #b2b3cf;
$beige-color: #f5f5dc;

$white: #fff;
$black: #000;

$main-color-gray: #bbb;
$main-color-dark-gray: #222222;
$footer-dark-gray: #1c1c1c;
$shade-level-1: #fafafa;
$text-color-gray: #666;

$main-error-1: #fa503c;

$shade-level-4: #b9b9b9;
$shade-level-5: #aeb3b2;
$shade-level-5-opacity-05: rgba($shade-level-5, 0.5);
$shade-level-6: #6c7472;
$shade-level-7: #3b393c;

$white: #fff;
$black: #000;
$main-color-red: #8e1538;
$main-color-beige: #d6b187;
$main-color-dark-blue: #2c3e50;
$main-color-gray: #bbb;
$main-color-dark-gray: #222222;
$footer-dark-gray: #1c1c1c;
$shade-level-1: #fafafa;
$text-color-gray: #666;

$title-dark: #222222;
