$h1-desktop-size: 42px;
$h1-mobile-size: 32px;
$h2-desktop-size: 36px;
$h2-mobile-size: 26px;
$h3-desktop-size: 28px;
$h3-mobile-size: 22px;
$h4-desktop-size: 20px;
$h4-mobile-size: 20px;
$hr-modal-top-margin: 10px;
$hr-modal-bottom-margin: 15px;
$h5-desktop-size: 24px;
$h-desktop-line-height-add: 8px;
$h-mobile-line-height-add: 4px;
