@use "src/Styling/index" as *;

.footer {
  background-color: $footer-color;
  color: $white;

  .footerContent {
    padding: 96px 16px 48px;

    .footerDataWrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 32px;
      padding-bottom: 48px;

      .footerPart {
        display: flex;
        flex-direction: column;
        text-align: center;

        a {
          text-decoration: none;
          color: $white;
        }

        .footerHeader {
          font-weight: bold;
          margin-bottom: 16px;
          color: $purple-color;
        }
      }
    }

    .rights {
      text-align: center;
      margin-bottom: 32px;
      color: $purple-color;
    }

    .subscribeContent {
      display: flex;
      flex-direction: column;

      .subscribeDescription {
        color: $purple-color;
        font-size: 16px;
        text-align: center;
        margin-bottom: 32px;
      }
      .subscribeWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 48px;

        .subscribeInput {
          min-width: 280px;
          max-width: 420px;
          width: 100%;
        }
      }
    }
  }

  .footerImage {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  @include breakpoint("tablet") {
    .footerDataWrap {
      flex-direction: row;
      gap: 32px;
    }

    .subscribeWrap {
      flex-direction: row;
    }
  }

  @include breakpoint("desktopSmall") {
    .footerContent {
      .footerDataWrap {
        flex-direction: row;
        gap: 64px;
        padding-bottom: 96px;
      }

      .subscribeContent {
        .subscribeWrap {
          flex-direction: row;
          padding-bottom: 96px;
          gap: 64px;
        }
      }
    }
  }
}
